$body-bg: #fff;
$body-bg-alt: invert($body-bg);
$body-font-color: #4C5051;
$body-font-color-secondary: #fff;
$anchor-font-color-hover: scale-color($primary-color, $lightness: -14%);
$anchor-font-secondary-color-hover: scale-color($secondary-color, $lightness: -14%);

@media only screen and (min-width: 40.063em) {
	div.title-area  {
		background: #fff;
	}
}

@media only screen and (max-width: 40.063em) {
	div.title-area  {
		background-color: #fff;
	}
}
/*** DARK TEXT ***/
@media only screen and (min-width: 40.063em) {
	header.site-header .site-title a {
		color: $dark-text;
	}
}

div[class*='home-middle-'].bg-gradient input,
div[class*='home-middle-'].bg-gradient button,
.impress-carousel-widget .property-details,
.easy_testimonial .testimonial_body p {
	color: $dark-text;
}

/*** TBD ***/
body.single-post {
	color: $inner-page-font-color;
}
body.single-post .site-container, 
body.single-post .site-inner,
body.single-post .content-sidebar-wrap {
	background: $inner-page-bg;
}

/*** FOOTER ***/
footer.site-footer .footer-widgets,
footer.site-footer .footer-widgets .widget p,
footer.site-footer .footer-widgets .widget li,
footer.site-footer .footer-widgets .widget .agent-phone-wrap i,
footer.site-footer .footer-widgets .widget .agent-email-wrap i,
footer.site-footer .footer-widgets .widget a,
footer.site-footer .footer-widgets .widget-title,
footer.site-footer,
footer.site-footer .button:hover,
footer.site-footer h1,
footer.site-footer h2,
footer.site-footer h3,
footer.site-footer h4,
footer.site-footer h5,
footer.site-footer h6,
footer.site-footer label,
footer.site-footer .impress-idx-dashboard-widget h4,
footer.site-footer section.impress-carousel-widget .property-details *,
footer.site-footer .singleTestimonialWidget h4,
footer.site-footer .listTestimonialsWidget h4,
footer.site-footer .easy_testimonial_title,
footer.site-footer .easy_testimonial .testimonial_body p,
footer.site-footer .easy_testimonial .testimonial_author cite {
	color: #fff;
}

footer.site-footer .button
footer.site-footer input,
footer.site-footer button,
footer.site-footer .footer-widgets {
	border-color: #fff;
}

footer.site-footer .title-area,
footer.site-footer h4::before, 
footer.site-footer h4::after,
footer.site-footer h2::after,
footer.site-footer h1::after {
	background: #fff;
}

// NEW THINGS
div.impress-carousel .owl-nav.owl-controls button.owl-prev:hover,
div.impress-carousel .owl-nav.owl-controls button.owl-next:hover {
	background-color: rgba(0,0,0,.05);
}

div[class*='home-middle-'].bg-gradient div.impress-carousel .owl-nav.owl-controls button.owl-prev,
div[class*='home-middle-'].bg-gradient div.impress-carousel .owl-nav.owl-controls button.owl-next,
footer.site-footer div.impress-carousel .owl-nav.owl-controls button.owl-prev,
footer.site-footer div.impress-carousel .owl-nav.owl-controls button.owl-next {
	background-color: inherit;
	border-color: #fff;
	color: #fff;
	&:hover {
		background-color: rgba(255,255,255,.05);
	}
}

div.impress-carousel .owl-nav.owl-controls button.owl-prev,
div.impress-carousel .owl-nav.owl-controls button.owl-next {
	background-color: #fff;
}

// NEW HARDCODED THINGS
@media only screen and (max-width: 40.063em) {
	.site-header .agent-social-icons a,
	.site-header .menu-toggle {
		color: #fff;
	}
}