/*! =Footer
------------------------------------------------------------------------- */
footer.site-footer {
	background: $body-bg;
	overflow: hidden;
}
footer.site-footer .footer-widgets {
	padding: 2.5rem 0;
	border-bottom: 1px solid scale-color($body-bg, $lightness: 14%);
}
footer.site-footer .columns {
	margin-bottom: 0.825rem;
}
footer.site-footer, 
footer.site-footer p,
footer.site-footer a {
	line-height: 1.2;
	color: $body-font-color;
}
footer.site-footer * {
	font-size: rem-calc(11);
}

footer.site-footer a {
	color: $body-font-color;
}

footer.site-footer i.properticons {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-left: -5px;
}

@media #{$large-up} {
	footer.site-footer .footer-left {
		clear: both;
		text-align: left;
	}
	footer.site-footer .footer-right {
		text-align: right;
	}
}

/*! =Footer Widgets
------------------------------------------------------------------------- */
footer.site-footer .footer-widgets {
	overflow: hidden;
	margin-bottom: 1.2rem;
}

footer.site-footer .footer-widgets div[class*="footer-widgets-"] {
	margin-bottom: 15px;
}
footer.site-footer .footer-widgets *,
footer.site-footer .footer-widgets .widget p,
footer.site-footer .footer-widgets .widget li,
footer.site-footer .footer-widgets .widget .agent-phone-wrap i,
footer.site-footer .footer-widgets .widget .agent-email-wrap i {
	font-size: rem-calc(16);
	line-height: 1.6;
}
footer.site-footer .footer-widgets .widget a {
	text-decoration: none;
}
footer.site-footer .footer-widgets .widget a,
footer.site-footer a {
	&:hover, &:focus {
	}
}
footer.site-footer .footer-widgets ul,
footer.site-footer .footer-widgets ol {
}
footer.site-footer .footer-widgets li {
	text-align: left;
}
footer.site-footer .footer-widgets .widget-title { 
	font-size: rem-calc(24);
	margin-bottom: 1.325rem;
}

/** NEW STUFF **/
footer.site-footer {
	background: #4C5051;
	.footer-widgets {
		border: none !important;
		padding-bottom: 10px !important;
		width: 100%;
		max-width: $row-width;
		margin: 0 auto !important;
	}
	&>div+div {
		display: none;
	}
	ul {
		list-style: none;
		margin-left: 0;
	}
}

footer.site-footer .footer-widgets .IDX_Omnibar_Widget {
	.awesomplete ul {
		display: none;
	}
}

footer.site-footer .button {
	background: #4C5051;
}