/*! =Background (alternates)
------------------------------------------------------------------------- */
/*! =Structure
------------------------------------------------------------------------- */
.structural-wrap {
	width: 100%;
	max-width: $row-width;
}
.inner-wrap {
	position: relative;
	z-index: 1;
}
.site-inner {
	position: relative;
	z-index: 2;
}
.content-sidebar-wrap {
	margin: 0 auto;
	padding: 2rem 0;
	background: $body-bg;
}
body:not(.home) .site-inner {
	padding: 1rem 0;
	background-color: $inner-page-bg;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	box-shadow: 0px 7px 7px rgba(0,0,0,0.2);
}
@media only screen and (max-width: 640px) {
	body:not(.home) .site-inner {
		padding: .3rem 0;
	}
}

/*! =Alignments
------------------------------------------------------------------------- */
.alignleft,
.content .alignleft,
.pull-left {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright,
.content .alignright,
.pull-right {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter,
.content .aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}


/*! =Image Galleries
------------------------------------------------------------------------- */
.gallery {
	margin-bottom: 1.5rem;
}
.gallery figure {
	margin: 0 0 1rem;
	padding: 0 0.275rem;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-caption {}


/*! =Image Captions
------------------------------------------------------------------------- */
.wp-caption,
.content figure.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	font-size: rem-calc(12);
	line-height: 1.2;
	text-align: center;
	margin: 0.8075rem 0;
}
.wp-caption .wp-caption-text {
	margin: 0.8075rem 0;
}


/*! =Communities page template
------------------------------------------------------------------------- */
.page-template-page_communities-php .masonry-item {
	width: 320px;
}
.page-template-page_communities-php .masonry-item h2 {
	font-size: rem-calc(28);
}
.page-template-page_communities-php .masonry-item img {
	margin-bottom: 10px;
}


/*! =Links
------------------------------------------------------------------------- */
button,
a.button,
.widget h2.entry-title a,
.ae-iconbox a {
	text-decoration: none;
}


/*! =Headings
------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: -1px;
}

article h3,
article h5 {
	font-family: $paragraph-font-family;
	font-weight: $font-weight-normal;
	letter-spacing: normal;
}
article h5,
h6 {
	text-transform: uppercase;
}
h1.entry-title,
h2.entry-title a {
	text-decoration: none;
}

/*! =Buttons
------------------------------------------------------------------------- */
.button,
button,
input[type="button"],
input[type="submit"],
.widget .idx-omnibar-form button {
	// Styled for medium by default
	font-size: rem-calc(18);
	letter-spacing: 0.02;
	min-height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 30px;
	font-family: $header-font-family;
	letter-spacing: .02px;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid;
	border-radius: 5px;
	background: #fff;
	&:hover, &:focus {
		background: rgba(0,0,20,.1);
	}
}

button.large, .button.large {
	font-size: rem-calc(20);
	line-height: rem-calc(28);
	letter-spacing: 0.025;
	min-height: 60px;
}

.bg-gradient .button,
.bg-gradient button,
.bg-gradient input[type="button"],
.bg-gradient input[type="submit"] {
	background: none;
	border: 2px solid;
}
.bg-gradient .button:hover,
.bg-gradient button:hover,
.bg-gradient input[type="button"]:hover,
.bg-gradient input[type="submit"]:hover,
.bg-gradient .button:focus,
.bg-gradient button:focus,
.bg-gradient input[type="button"]:focus,
.bg-gradient input[type="submit"]:focus {
	background: rgba(0,0,0,.1);
}

.widget .idx-omnibar-form button {
	margin: 0;
	height: auto;
}

/*! =Blockquotes
------------------------------------------------------------------------- */
blockquote {
	font-style: italic;
}
blockquote cite {
	font-style: normal;
}

/*! =Accessibility
------------------------------------------------------------------------- */
/*! Text meant only for screen readers */
.screen-reader-text,
.screen-reader-shortcut {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /*! Above WP toolbar */
}

/*! Skip Links
---------------------------------------------------------------------------------------------------- */
.equity-skip-link {
	margin: 0;
}

.equity-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/*! Display outline on focus */
:focus {
	color: #000;
	outline: #ccc solid 1px;
}

/*! =Gravity Forms
------------------------------------------------------------------------- */
.gform_wrapper select[multiple=multiple] {
	background-image: none;
	height: auto;
}
.gform_wrapper .gfield_radio li input[type=radio] {
	margin: 0 0 0.2rem 0.1rem;
}

/*! =Beaver Builder
------------------------------------------------------------------------- */


/*! =Admin bar fix (due to position: relative; on body)
------------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
	#wpadminbar {
		top: -46px;
	}
}

/*! =Animations
------------------------------------------------------------------------- */

/*! Flip animation */
@keyframes nav-flip {
	from {
		transform: rotate(0deg);
  	}
	to {
		transform: rotate(-180deg);
		top: 50%;
  	}
}
@keyframes nav-flip-side {
	from {
		transform: rotate(0deg);
  	}
	to {
		transform: rotate(-180deg);
  	}
}

/*! Fadeup */
@-webkit-keyframes fadeInUp {
	from { opacity: 0; -webkit-transform: translateY(20px); }
	to { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes fadeInUp {
	from { opacity: 0; transform: translateY(20px); }
	to { opacity: 1; transform: translateY(0); }
}

/** NEW STUFF **/

textarea:focus {
	background: #fff;
}

div[class^="home-middle-"] { position: relative; }
.must-see-z-index-1  { z-index: 1; }
.must-see-z-index-2  { z-index: 2; }
.must-see-z-index-3  { z-index: 3; }
.must-see-z-index-4  { z-index: 4; }
.must-see-z-index-5  { z-index: 5; }
.must-see-z-index-6  { z-index: 6; }
.must-see-z-index-7  { z-index: 7; }
.must-see-z-index-8  { z-index: 8; }
.must-see-z-index-9  { z-index: 9; }
.must-see-z-index-10 { z-index: 10; }
.must-see-z-index-11 { z-index: 11; }
.must-see-z-index-12 { z-index: 12; }
.must-see-z-index-13 { z-index: 13; }

// Customizer edit button reset since our css properties bleed into it
.customize-partial-edit-shortcut-button {
	height: 30px !important;
	width: 30px !important;
}


div[class^="home-middle-"],
.contact-us,
footer {
	.widget_nav_menu h4,
	.widget_text h2,
	.widget_text h4,
	.impress-idx-signup-widget h2,
	.impress-idx-signup-widget h4 {
		font-size: rem-calc(24);
		&::after {
			content: "";
			display: block;
			width: 85px;
			height: 3px;
			margin: 20px 0;
			border-radius: 5px;
		}
	}
}