/*! =Home page
------------------------------------------------------------------------- */
body.home,
body.home.must-see-white-bkg {
	background: $body-bg;
	color: $body-font-color;
}
.home .content-sidebar-wrap {
	padding: 0;
	margin: 0;
	background: none;
	font-size: rem-calc(16);
}
.home .content-sidebar-wrap.row,
.home div[class*='home-middle-'].full .row {
	max-width: none;
}
.home .content-sidebar-wrap.row > .columns,
.home div[class*='home-middle-'].full .row > .columns {
	padding: 0;
}
.home .content-sidebar-wrap.row .row {
	max-width: $row-width;
	margin-left: auto;
	margin-right: auto;
}
.home .content-sidebar-wrap.row .home-top,
.home .content-sidebar-wrap.row div[class*='home-middle-'] {
	background-attachment: scroll;
	background-color: $body-bg;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: $body-font-color;
}
// Headings and body
.home .content-sidebar-wrap div[class*='home-'],
.home .content-sidebar-wrap div[class*='home-'] h1,
.home .content-sidebar-wrap div[class*='home-'] h2,
.home .content-sidebar-wrap div[class*='home-'] h3,
.home .content-sidebar-wrap div[class*='home-'] h4,
.home .content-sidebar-wrap div[class*='home-'] h5,
.home .content-sidebar-wrap div[class*='home-'] h6,
.home .content-sidebar-wrap div[class*='home-'] label {
	color: $body-font-color;
}
// Anchors
.home a,
.home .widget article h2.entry-title a {
	color: $primary-color;
}
.home .bg-gradient a,
.home .widget article h2.entry-title a {
	color: $body-font-color-secondary;
}
.home .bg-gradient a:hover,
.home .bg-gradient a:focus {
	color: scale-color($body-font-color-secondary, $lightness: -14%);
}

/** New stuff ***/

.home-top {
	position: relative;
	height: 650px;
	background-size: cover;
	background-position: center;
	.omnibar-top {
		margin-top: 500px;
	}
}

.IDX_Omnibar_Widget {
	.awesomplete {

		line-height: 50px !important;
	}
	.idx-omnibar-input {
		border-radius: 5px;
		height: 50px !important;
	}
	button {
		border-radius: 0 5px 5px 0 !important;
		background: none !important;
		color: black !important;
		height: 50px !important;
	}
}

.property-details {

}

.impress-carousel-widget h4,
.singleTestimonialWidget h4,
.contact-us h4,
.featured-communities .widget_text h4 {
  color: $blue-text !important;
  text-align: center;
  font-size: 2rem;
  margin: 50px 0;
  &:before, &:after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 5px;
    vertical-align: middle;
    background: #258BB7;
    border-radius: 5px;
  }
  &:before {
    margin-right: 10px;
  }
  &:after {
    margin-left: 10px;
  }
}

.property-details {
	color: $dark-text;
	.price {
		color: $blue-text !important;
	}
	.address, .city-state {
		font-weight: bold;
	}
}

.bg-gradient {
	h4 {
		color: $light-text !important;
  		&:before, &:after {
    		background: $light-text;
  		}
	}
}

.buying-selling-area {
	> .row {
		padding: 50px 0;
	}
	section:first-child h4 {
		font-size: 2rem;
	}

	section+section {
		h4 {
			font-size: 1.5rem;
		}
		h4:after {
			content: "";
			display: block;
			width: 100px;
			height: 3px;
			margin: 20px 0;
			border-radius: 5px;
			background: #fff;
		}
		.button {
			font-size: 1.2rem;
			letter-spacing: .075rem;
			width: 200px;
			border-radius: 5px;
		}
	}
}

.must-see-fullscreen {
	.row {
		max-width: 100% !important;
	}
	.row > .columns {
		padding: 0px;
	}
}

.featured-communities, featured-communities * {
	box-sizing: border-box;
}

.featured-communities {
	.widget_text {
    	width: 100% !important;
    	float: none !important;
	}
	.featured-page {
		position: relative;
		height: calc(100vw / 2);
		h4 {
			font-size: 2.2rem;
			font-weight: 500;
			color: $light-text !important;
			width: 300px;
			margin: 0 auto;
			margin-top: 40%;
		}
		h4:after {
			content: "";
			display: block;
			width: 100px;
			height: 3px;
			margin: 20px 0;
			border-radius: 5px;
			background: #fff;
		}
		article {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		figure, figure > a {
			display: block;
			width: 100%;
			height: 100%;
		}
		figure > a {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			background: #000;
			&:after {
				content: "";
				display: block;
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #000;
				opacity: .5;
			}
		}
		img {
			width: 100% !important;
			height: 100% !important;
		}
		figcaption {
			header {
				display: none;
			}
			.entry-content {
				width: 300px;
				margin: 0 auto;
				margin-top: 50%;
				p {
					color: $light-text;
				}
				a {
					display: block;
					font-family: $header-font-family;
					letter-spacing: .05rem;
					text-transform: uppercase;
					font-size: 1.25rem;
					line-height: 2.5em;
					color: $light-text;
					text-align: center;
					width: 100%;
					margin-top: 15px;
					padding: 5px;
					border: 2px solid $light-text;
					border-radius: 4px;
					&:hover {
						background: rgba(255,255,255,.4);
					}
				}
			}
		}
	}
}

div[class*='home-middle-'] {
	.singleTestimonialWidget {
		margin: 0 auto;
		max-width: 900px;
	}
	.easy_testimonial_image_wrapper {
		img {
			margin-right: 50px;
		}
	}
	.easy_testimonial {
		.testimonial_body p {
			color: $light-text;
		}
		.testimonial_author {
			cite {
				color: $light-text;
				&:before {
					float: left;
					padding-right: 5px;
				}
			}
		}
		.testimonial-client {
		}
		img {
			width: 150px;
			height: 150px;
			border-radius: 100% !important;
		}
	}
}

.featured-communities.flexible-widgets.widget-halves .widget:nth-child(even) {
    clear: left !important;
}

.featured-communities.flexible-widgets.widget-halves .widget:nth-child(odd) {
    clear: none !important;
}

.featured-communities.flexible-widgets.widget-halves .widget.widget_text {
}

.impress-idx-signup-widget {
	label {
		display: none;
	}
	input[type="text"], input[type="email"] {
		box-shadow: none;
		border: 1px solid #eee;
		border-radius: 5px;
		font-size: 1rem;
		height: 50px;
		font-weight: 400;
		margin-bottom: 30px;
		transition: .3s;
		&:focus {
			background-color: #fff;
			border-color: #78D2F3;
		}
	}
	button {
		font-weight: 400;
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: .5px;
		width: 200px;
		line-height: 50px;
		padding: 0;
		color: $primary-color;
		background: #fff;
		border: 1px solid $primary-color;
		border-radius: 5px;
		&:hover {
			color: $light-text;
			background-color: $primary-color;
		}
	}
}

/** End new stuff **/


/*! Fadeup Effect
---------------------------------------------------------------------------------------------------- */

.fadeup-effect {
	opacity: 0;
	overflow: hidden;
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}
.home div[class*='home-middle-'].full .fadeup-effect {
	opacity: 1;
	animation-name: none;
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
