/*! =Home page
------------------------------------------------------------------------- */
body.home,
body.home.must-see-white-bkg {
	background: $body-bg;
	color: $body-font-color;
}
.home .content-sidebar-wrap {
	padding: 0;
	margin: 0;
	background: none;
	font-size: rem-calc(16);
}
.home .content-sidebar-wrap.row,
.home div[class*='home-middle-'].full .row {
	max-width: none;
}
.home .content-sidebar-wrap.row > .columns,
.home div[class*='home-middle-'].full .row > .columns {
	padding: 0;
}
.home .content-sidebar-wrap.row .row {
	max-width: $row-width;
	margin-left: auto;
	margin-right: auto;
}
.home .content-sidebar-wrap.row .home-top,
.home .content-sidebar-wrap.row div[class*='home-middle-'] {
	background-attachment: scroll;
	background-color: $body-bg;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: $body-font-color;
}
// Headings and body
.home .content-sidebar-wrap div[class*='home-'],
.home .content-sidebar-wrap div[class*='home-'] h1,
.home .content-sidebar-wrap div[class*='home-'] h2,
.home .content-sidebar-wrap div[class*='home-'] h3,
.home .content-sidebar-wrap div[class*='home-'] h4,
.home .content-sidebar-wrap div[class*='home-'] h5,
.home .content-sidebar-wrap div[class*='home-'] h6,
.home .content-sidebar-wrap div[class*='home-'] label {
	color: $blue-text;
}
// Anchors
.home a,
.home .widget article h2.entry-title a {
	color: $primary-color;
}
.home .bg-gradient a,
.home .widget article h2.entry-title a {
	color: $body-font-color-secondary;
}

/** New stuff ***/
.home {
	.home-top {
		position: relative;
		height: 300px;
		@media #{$medium-up} {
			height: 450px;
		}
		@media #{$large-up} {
			height: 650px;
		}
		background-size: cover;
		background-position: center;
		.omnibar-top {
			position: absolute;
			bottom: 50px;
			left: 0;
			right: 0;
			max-width: 800px;
		}
	}

	.IDX_Omnibar_Widget {
		.awesomplete {
			line-height: 50px !important;
		}
		.idx-omnibar-input {
			border-radius: 5px;
			height: 50px !important;
		}
		button {
			background: none !important;
			color: black !important;
			height: 50px !important;
			padding: 0 20px;
			border: none;
			border-radius: 0 5px 5px 0 !important;
			i {
			}
		}
	}

	.impress-carousel-widget h4,
	.singleTestimonialWidget h4,
	.listTestimonialsWidget h4,
	.contact-us > div > h4,
	.featured-communities .widget_text h4 {
		position: relative;
		color: $blue-text !important;
		text-align: center;
		font-size: rem-calc(32);
		overflow: hidden;
		@media #{$medium-up} {
			font-size: rem-calc(32);
		}
		margin: 50px 0;
		@media #{$medium-up} {
			&:before, &:after {
				content: "";
				top: 50%;
				transform: translateY(-50%);
				position: absolute;
				width: 80px;
				height: 3px;
				vertical-align: middle;
				background: #258BB7;
				border-radius: 5px;
			}
			&:before {
				margin-left: -105px;
			}
			&:after {
				margin-left: 25px;
			}
		}
	}

	.bg-gradient {
		h4 {
			color: $light-text !important;
	  		&:before, &:after {
	    		background: $light-text;
	  		}
		}
	}

	div[class^="home-middle-"] {
		section.widget_text {
			padding: 50px 0;
		}
		section:first-child  {
			.widgettitle {
				font-size: 2rem;
			}
		}

		section+section {
			h4 {
				font-size: rem-calc(24);
			}
			h4:after {
				content: "";
				display: block;
				width: 85px;
				height: 3px;
				margin: 30px 0;
				border-radius: 5px;
				background: #fff;
			}
			.button {
				font-size: rem-calc(20);
				letter-spacing: .025em;
				width: 225px;
				line-height: 55px;
				padding: 0;
				border-radius: 5px;
			}
		}
	}

	.impress-carousel, .equity-idx-carousel {
		 .carousel-property {
			width: 235px;
			margin: 0 auto;
		}

		.owl-item {
			@media (min-width: 450px) and (max-width: 550px) {
			}
		}

		.carousel-photo {
			width: 235px;
			height: 235px;
			border-radius: 100%;
			overflow: hidden;
			position: relative;
			img {
				display: inline;
				margin: 0 auto;
				height: 100%;	
			}
		}

		.beds-baths span+span {
			margin-left: 10px;
		}
	}

	.must-see-fullscreen {
		.row {
			max-width: 100% !important;
		}
		.row > .columns {
			padding: 0px;
		}
	}

	.featured-communities, featured-communities * {
		box-sizing: border-box;
	}

	.featured-communities {
		.widget_text {
	    	width: 100% !important;
	    	float: none !important;
	    	h4 {
	    		margin: 0px;
	    	}
		}
		.featured-page {
			position: relative;
			height: 100vw;
	    	width: 100%;
	    	overflow: hidden;
			@media #{$medium-up} {
				height: calc(100vw / 2);
	    		width: 50% !important;
			}
			h4 {
				font-size: rem-calc(36);
				@media #{$medium-up} {
					font-size: rem-calc(40);
				}
				font-weight: 500;
				color: $light-text !important;
				width: 300px;
				margin: 0 auto;
				margin-top: calc(50% - 70px);
			}
			h4:after {
				content: "";
				display: block;
				width: 90px;
				height: 3px;
				margin: 30px 0;
				border-radius: 5px;
				background: #fff;
				@media #{$medium-up} {
					margin: 20px 0;
				}
			}
			article {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			figure, figure > a {
				display: block;
				width: 100%;
				height: 100%;
			}
			figure > a {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				background: #000;
				&:after {
					content: "";
					display: block;
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: #000;
					opacity: .5;
				}
			}
			img {
				width: 100% !important;
				height: 100% !important;
			}
			figcaption {
				header {
					display: none;
				}
				.entry-content {
					width: 300px;
					margin: 0 auto;
					margin-top: calc(50%);
					p {
						color: $light-text;
						font-size: rem-calc(20);
					}
					a {
						display: block;
						font-family: $header-font-family;
						letter-spacing: .025em;
						text-transform: uppercase;
						font-size: rem-calc(22);
						@media (min-width: 930px) {
							font-size: 1.25rem;
						}
						line-height: rem-calc(60);
						color: $light-text;
						text-align: center;
						width: 100%;
						margin-top: 15px;
						padding: 0 2px;
						@media (min-width: 930px) {
							padding: 0 5px;
						}
						border: 2px solid $light-text;
						border-radius: 4px;
						&:hover {
							background: rgba(255,255,255,.4);
						}
					}
				}
			}
		}
	}

	div[class*='home-middle-'] {
		.singleTestimonialWidget, .listTestimonialsWidget {
			margin: 0 auto;
			max-width: 900px;
		}
		.easy_testimonial_image_wrapper {
			img {
				margin-right: 50px;
			}
		}
		.easy_testimonial {
			text-align: center;
			@media #{$medium-up} {
				text-align: left;
			}
			.testimonial_body p {
				color: $light-text;
				@media #{$medium-up} {
					margin-left: 200px;
				}
			}
			.testimonial_author {
				@media #{$medium-up} {
					margin-left: 200px;
				}
				cite {
					color: $light-text;
					&:before {
						padding-right: 5px;
					}
					span:first-child {
						display: inline;
					}
				}
			}
			img {
				float: none;
				@media #{$medium-up} {
					float: left;
				}
				width: 150px;
				height: 150px;
				border-radius: 100% !important;
			}
		}
	}

	.featured-communities.flexible-widgets.widget-halves .widget:nth-child(even) {
	    clear: left !important;
	}

	.featured-communities.flexible-widgets.widget-halves .widget:nth-child(odd) {
	    clear: none !important;
	}

	.featured-communities.flexible-widgets.widget-halves .widget.widget_text {
	}

	.impress-idx-dashboard-widget-section {
		.impress-idx-dashboard-widget {
		}
		.IDX-mapWidgetWrap {
			position: relative;
			height: 700px !important;
			.IDX-mapHeader {
				position: absolute;
				top: 0;
				z-index: 1;
			}
			.IDX-mapCount {
				font-family: $header-font-family;
				font-weight: 400;
				font-size: 1.1rem;
				color: #4C5051;
				float: right !important;
				padding-right: 25px;
				padding-top: 5px;
			}
			.IDX-mapTab {
				float: left !important;
				border-radius: 0px;
				border: none;
				border-bottom-right-radius: 5px;
				box-shadow: 1px 1px 3px #666;
			}
			.leaflet-control-zoom {
				margin-top: 50px !important;
			}
			div[id*='IDX-mapLoading'] {
			}
		}
	}

	.contact-us {
		padding-bottom: 50px;
		section+section {
		margin-top: 50px;;	
			@media #{$medium-up} {
				margin-top: 0;
	  		}
		}
		.widget-area {
			@media #{$medium-up} {
				display: flex;
	  			align-items: stretch;
	  		}
			section {
				&.widget_text {
					color: #000;
					@media #{$medium-up} {
						padding: 0 50px;
						width: 500px;
	  				}
					h4 {
						font-size: .9rem;
						font-weight: 700;
						color: $blue-text;
					}
				}
				&.impress-idx-signup-widget {
					width: 100%;
				}
			}
		}
	}



	.impress-idx-signup-widget {
		button {
			width: 200px;
		}
	}

	.widget_nav_menu {
		ul > li {
			margin-left: 10px;
		}
	}	
}
/** End new stuff **/


/*! Fadeup Effect
---------------------------------------------------------------------------------------------------- */

.fadeup-effect {
	opacity: 0;
	overflow: hidden;
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.home div[class*='home-middle-'].full .fadeup-effect {
	opacity: 1;
	animation-name: none;
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
