@mixin hover-effect {
	background-color: transparent;
	box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.08);
}

@mixin remove-well {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

@mixin control-label {
	font-weight: normal;
	font-size: 15px;
	height: 28px;
	overflow: hidden;
}

@mixin idx-required {
	font-size: 22px;
	color: #D31313;
}

// Does not include color or fonts, since that needs to be in customizer
@mixin idx-button {
	font-size: 18px;
	background-color: transparent;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: .2px;
	background: #fff;
	&:hover {	
		@include hover-effect;
	}
}

body.idx-wrapper-template-default {
	.site-inner {
		padding: 50px 0;
	}
}

.IDX-wrapper-standard a:hover, .IDX-wrapper-standard a:active, .IDX-wrapper-standard a:focus {
	text-decoration: none;
}


@media only screen and (max-width: 640px) {
	body.idx-wrapper-template-default {
		.site-inner {
			padding: 3px 0;
		}
	}
}

body.must-see-map-results {
	.content-sidebar-wrap {
		width: 100%;
		max-width: 100%;
		padding: 0;
		main {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.site-inner {
		padding: 0;
	}
}

/*** Listings Details ***/
.IDX-wrapper-standard #IDX-saveProperty, .IDX-wrapper-standard #IDX-newSearch, .IDX-wrapper-standard #IDX-modifySearch, .IDX-wrapper-standard #IDX-backToResults {
	line-height: 36px;
	border-radius: 3px;
	text-transform: uppercase;
	background-color: #fff;
	font-size: rem-calc(16px);
	font-family: $header-font-family;
	padding: 0 15px;
	&:hover {
		@include hover-effect;
	}
}

@media only screen and (min-width: 641px) {
	.IDX-wrapper-standard {
		// Prev/Next buttons and position text
		#IDX-nextLastButtons {
			display: flex;
			flex-direction: row;
			margin-bottom: 30px;
			#IDX-nextLastPosition {
				flex: 1 1 auto;
				order: 2;
				width: 150px;
				margin: 0 10px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			// Previous button
			a:nth-of-type(1) {
				float: none;
				order: 1;
				width: 150px;
				border-radius: 5px;
			}
			// Next button
			a:nth-of-type(2) {
				float: none;
				order: 3;
				width: 150px;
				border-radius: 5px;
			}
			> * {
				line-height: 40px;
				height: 40px;
				padding: 0 5px;
				text-align: center;
			}
		}
		.IDX-topAction {
			min-width: auto;
			margin-right: 0;
			+ .IDX-topAction {
				margin-left: 30px;
			}
		}
		.IDX-detailsHotAction {
			&+.IDX-detailsHotAction {
				margin-left: 30px;
			}
			a {
				text-align: left;
			}
		}
		.IDX-thumbnail {
			margin: 0 60px;
		}
		.st-btn+.st-btn {
			margin-left: 10px;
		}
	}
}


@media only screen and (max-width: 840px) and (min-width: 641px) {
	.IDX-wrapper-standard {
		#IDX-saveProperty, #IDX-newSearch, #IDX-modifySearch, #IDX-backToResults {
			font-size: rem-calc(12px);
			padding: 0 13px;
		}
		.IDX-topAction {
			+ .IDX-topAction {
				margin-left: 10px;
			}
		}
	}
}


@media only screen and (max-width: 640px) {
	.IDX-wrapper-standard {
		#IDX-saveProperty, #IDX-newSearch, #IDX-modifySearch, #IDX-backToResults {
			margin: 8px 0;
		}
		.IDX-detailsHotAction {
			a {
				margin-top: 10px;
				border: 0px;
			}
			+ .IDX-detailsHotAction {
				margin-top: 10px;
			}
		}
	}
}

.IDX-carouselThumb {
	border: none;
	overflow: hidden;
	&+.IDX-carouselThumb {
	}
	img {
		border: none;
	}
}

.IDX-wrapper-standard .IDX-showcaseSlide-active {
	border: 2px solid;
}

.IDX-wrapper-standard #IDX-detailsPrimaryImg {
	max-height: 570px;
}

.IDX-wrapper-standard.IDX-page-listing {
	#IDX-detailsHotActions {
		border-bottom: 2px solid;
		margin-bottom: 40px;
		padding-bottom: 40px;
	}
	.IDX-detailsHotAction {
		a {
			text-decoration: none;
			border: 0px;
			&:hover {
				background-color: transparent;
				text-decoration: underline;
			}
		}
	}
	#IDX-primaryPhoto {
		height: 575px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.IDX-thumbnail {
		border: none;
		padding: 0;
		img {
			border: none;
		}
	}
	.IDX-arrow {
		background: transparent;
		border: 2px solid;
		border-radius: 100%;
		width: 43px;
		height: 43px;
		&:hover {
			@include hover-effect;
		}
		i {
			line-height: 43px;
		}
	}
	#IDX-arrow-previous i {
		margin-right: 2px;
	}
	#IDX-arrow-next i {
		margin-left: 2px;
	}
	.IDX-carouselNavWrapper {
		i {
			font-size: 24px;
		}
	}
	#IDX-photoGalleryLink {
		display: block;
		max-width: 400px;
		line-height: 36px;
		margin: 0 auto;
		margin-bottom: 30px;
		border: 1px solid;
		border-radius: 3px;
	}
	#IDX-detailsHead hr {
		border: none;
		border-bottom: 2px solid;
		margin-top: 40px;
		margin-bottom: 20px;
	}
	#IDX-detailsAddress {
		padding: 10px 15px;
		a > div {
			display: block;
			font-family: $body-font-family;
			font-size: 21px;
			font-weight: 500;
			&.IDX-detailsAddressLocationInfo {
				font-size: 18px;
				font-weight: normal;
			}
			.IDX-detailsEndAddressComma {
				display: none;
			}	
		}
	}
	#IDX-detailsMainInfo {
		&::after {
			content: "";
			display: block;
			width: 80px;
			height: 3px;
			border-radius: 5px;
			margin: 20px 0;
		}
	}
	.IDX-panel {
		border: none;
		box-shadow: none;
	}
	.IDX-panel-heading, #IDX-listingHeader {
		border: none;
		background: transparent;
		font-size: 20px;
		font-weight: bold;
		color: #4C5051;
		letter-spacing: 0px;
		&::before {
			content: "";
			display: block;
			width: 80px;
			height: 3px;
			border-radius: 5px;
			margin-bottom: 20px;
		}
	}
	.IDX-panel-title {
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 0px;
	}
	.IDX-panel-default > .IDX-panel-heading {
		background-color: transparent;
	}
	.IDX-panel-body {
		// Each item is an inline block, reduce font-size to reduce spacing between each item
		font-size: 8px;
		.IDX-field {
			border: none;
			margin-bottom: 0;
			font-size: rem-calc(16px);
			color: #000000;
		}
	}
	.IDX-panel-collapse-toggle span {
		display: inline-block;
		float: none;
		color: #4C5051;
		background: transparent;
		&::after {
			content: "-";
			font-weight: light;
			display: inline-block;
			vertical-align: 2px;
			text-align: center;
			width: 20px;
			height: 20px;
			line-height: 14px;
			color: #4C5051;
			border: 1px solid #4C5051;
			border-radius: 100%;
		}
	}
	.IDX-panel-collapse-toggle.IDX-collapsed span {
		background: transparent;
		transform: none;
		&::after{
			content: "+";
			line-height: 20px;
			vertical-align: -1px;
		}
	}
	#IDX-description {
		font-size: rem-calc(16px);
		color: #000000;
		@include remove-well;
	}
	> hr, #IDX-detailscontactContainer > hr {
		display: none;
	}
	#IDX-listingHeader {
		margin-bottom: 30px;
	}
	.IDX-control-label {
		@include control-label;
	}
	.IDX-required {
		font-size: 22px;
		color: #D31313;
	}
	.IDX-form-control {
		height: 45px;
		line-height: 45px;
		border: 1.35px solid #E6E6E6;
		border-radius: 3px;
	}
	#IDX-resetBtn, #IDX-submitBtn {
		@include idx-button;
		font-family: $header-font-family;
		border: 1px solid;
	}
	#IDX-message {
		height: 150px;
		margin-bottom: 35px;
	}
	// Map details
	#IDX-mapContainer {
		@include remove-well;
	}
	// Remove all side padding
	.IDX-panel-body, .IDX-panel-heading, .IDX-well, #IDX-detailsAddress {
		padding-left: 0;
		padding-right: 0;
	}
	#IDX-walkscoreContainer {
		margin-bottom: 30px;
	}
	.IDX-field-price .IDX-text, .IDX-field-listingPrice .IDX-text {
		font-size: rem-calc(16px);
	}
}

// Remove large price font size

/*** IDX Sign Up Page ***/
.IDX-wrapper-standard {
	#IDX-leadLoginContainer, #IDX-leadSignupContainer, #IDX-contactContainer {
		.col-sm-4 {
			display: block;
			width: 100%;
			margin: 0;
		}
		.IDX-panel {
			min-width: 33%;
			max-width: 670px;
			margin: 30px auto;
			margin-bottom: 40px;
			border: none;
		}
		.IDX-panel-body {
			background-color: #F9F9F9;
			padding: 45px;
		}
		#IDX-keepLoggedIn label {
			.IDX-keepLoggedInCheckBox {
				position: relative;
				appearance: none;
				-moz-appearance: none;
				-webkit-appearance: none;
				width: 18px;
				height: 18px;
				margin-right: 12px;
				border-radius: 3px;
				border: 2px solid;
				vertical-align: top;
				cursor: pointer;
				outline: none;
				&:checked {
					border: none;
					&::after {
						content: '\2714';
						position: absolute;
						top: -1px;
						left: 3px;
						font-size: 14px;
						font-weight: 200;
					}
				}
			}
			span {
				@include control-label;
			}
		}
		.IDX-panel-heading {
			@include remove-well;
			padding: 0;
			h2 {
				line-height: 85px;
				text-transform: uppercase;
				font-size: rem-calc(20px);
				font-weight: bold;
				letter-spacing: .2px;
				padding-left: 45px;
			}
		}
		.IDX-alert-info {
			background: none;
			padding: 0;
			border: none;
			color: #4C5051;
			font-size: 20px;
			margin-bottom: 30px;
		}
		#IDX-signupFormActions {
			margin-top: 20px;
		}
		#IDX-userSignupLink, #IDX-toggleLogIn {
			text-decoration: underline;
			font-size: rem-calc(16px);
			i {
				display: none;
			}
		}
		#IDX-gotoUserSignup, #IDX-signupForm > span {
			font-size: rem-calc(16px);
		}
		#IDX-signupFormSubmitBtn, #IDX-loginSubmit {
			background: #fff;
		}
		#IDX-searchForm {
			font-size: rem-calc(16px);
		}
		.IDX-control-label {
			@include control-label;
			.IDX-required {
				@include idx-required;
			}
		}
		.IDX-form {
			.IDX-btn {
				@include idx-button;
				font-family: $header-font-family;
				border: 1px solid;
				height: 50px;
				line-height: 50px;
				padding: 0;
				i {
					display: none;
				}
			}
		}
		.IDX-form-group {
			margin-bottom: 35px;
		}
		.IDX-form-control, .IDX-control-group {
			border: 1px solid #E6E6E6;
			border-radius: 3px;
			height: 50px;
			line-height: 50px;
		}
		#IDX-message {
			height: auto;
		}
	}
}

/*** Advanced Search Page and Contact Page ***/
@media only screen and (max-width: 640px) {
	.IDX-wrapper-standard #IDX-searchPageWrapper {
		#IDX-navbar-collapse {
			background-color: #F9F9F9;
		}
		.IDX-navbar-toggle {
			display: block;
			float: left;
			margin-left: 15px;
			background-color: transparent;
			border: none;
		}
		.IDX-navbar-default .IDX-navbar-toggle > .IDX-icon-bar {
			height: 4px;
			width: 29px;
			margin: 6px auto;
			border-radius: 3px;
		}
		.IDX-navbar-default .IDX-navbar-collapse {
			border-top: none;
			box-shadow: none;
		}
		.IDX-advancedRangeMax, .IDX-advancedRangeMin {
			display: inline-block;
		}
		.IDX-navbar-nav {
			margin-top: 0;
		}
		.IDX-navbar-default .IDX-navbar-nav > li:focus,
		.IDX-navbar-default .IDX-navbar-nav > li:active,
		.IDX-navbar-default .IDX-navbar-nav > li:hover {
			box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.08);
		}
	}
}

.IDX-wrapper-standard #IDX-searchPageWrapper {
	input {
		transition: none;
	}
	#IDX-navbar-collapse {
		padding: 0;
		overflow: hidden;
	}
	#IDX-navbar {
		border: none;
	}
	.IDX-control-group,
	.IDX-advancedSearchColumn {
		padding: 0 25px;
	}
	.IDX-control-group,
	.IDX-advancedPair {
		margin-bottom: 30px;
	}
	#IDX-action-buttons button.IDX-btn {
		@include idx-button;
		letter-spacing: 1px;
		width: calc(50% - 50px);
		margin: 0 25px;
	}
	.select2-container .select2-choice abbr {
		top: 15px;
	}
	.select2-arrow {
		margin-top: 2px;
	}
	.IDX-advancedRangeMin {
		width: calc(45% - 20px);
		margin-right: 20px;
	}
	.IDX-advancedRangeMax {
		width: calc(45% - 20px);
		margin-left: 20px;
	}
	#IDX-action-buttons {
		margin-bottom: 20px;
	}	
	#IDX-navbar {
		margin: 0 25px;
		margin-bottom: 40px;
	}

	.IDX-navbar-default .IDX-navbar-nav > li > a,
	.IDX-navbar-default .IDX-navbar-nav > li > a:focus,
	.IDX-navbar-default .IDX-navbar-nav > li > a:active,
	.IDX-navbar-default .IDX-navbar-nav > li > a:hover {
		font-family: $header-font-family;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 200;
		padding: 15px 30px;
		@media only screen and (min-width: 641px) and (max-width: 741px) {
			padding: 15px 16px;
		}
	}
	.IDX-navbar-default .IDX-navbar-nav > li > a:focus,
	.IDX-navbar-default .IDX-navbar-nav > li > a:active,
	.IDX-navbar-default .IDX-navbar-nav > li > a:hover {
		background-color: rgba(255,255,255,.3);
	}
}
.idx-wrapper-template-default #select2-drop {
	border-color: #E6E6E6;
	.select2-results {
		padding: 0;
		margin: 0;
		max-height: 300px;
	}
	.select2-results .select2-result .select2-result-label {
		padding: 10px;
	}
	.select2-searching {
		padding: 10px;
		color: #4C5051;
	}
	.select2-search .select2-input {
		width: calc(100% - 10px);
		padding: 0;
		margin: 5px;
		border-radius: 3px;
		box-shadow: none;
		line-height: 40px;
		padding: 0 5px;
	}
	.select2-more-results,
	.select2-no-results {
		padding: 10px;
		color: #4C5051;
	}
	.select2-searching img {
		margin-top: 6px;
	}
}

@media only screen and (min-width: 641px) {
	.IDX-wrapper-standard #IDX-searchPageWrapper .IDX-navbar-default .IDX-navbar-nav > li.IDX-active > a,
	.IDX-wrapper-standard #IDX-searchPageWrapper .IDX-navbar-default .IDX-navbar-nav > li.IDX-active > a:focus,
	.IDX-wrapper-standard #IDX-searchPageWrapper .IDX-navbar-default .IDX-navbar-nav > li.IDX-active > a:active,
	.IDX-wrapper-standard #IDX-searchPageWrapper .IDX-navbar-default .IDX-navbar-nav > li.IDX-active > a:hover,
	.IDX-wrapper-standard.IDX-page-address .IDX-navbar-default .IDX-navbar-nav > .IDX-active > .IDX-searchNavLink {
		background-color: #F9F9F9;
	}
}

.IDX-wrapper-standard {
	.select2-container .select2-choice,
	.select2-container.select2-container-multi .select2-choices,
	#IDX-advancedSearchFields input.IDX-advancedBox,
	.IDX-advancedRange,
	#IDX-listingID,
	#IDX-address {
		border: 1px solid #E6E6E6;
		border-radius: 3px;
		box-shadow: none;
		height: 45px;
		margin-bottom: 0;
		color: #4C5051;
		font-size: 16px;
		&:active, &:focus {
			background: none;
			border-color: #E6E6E6;
		}
	}
	.select2-container.select2-container-multi .select2-choices .select2-search-field {
		height: 43px;
		line-height: 43px;
	}
	.select2-container .select2-choice .select2-chosen {
		margin: 0;
	}
	.select2-input.select2-default {
		height: 43px;
	}
	.select2-container {
		.select2-input,
		.select2-search-field,
		.select2-choice,
		.select2-chosen,
		#IDX-advancedSearchFields input.IDX-advancedBox {
			height: 45px;
			line-height: 43px;

		}
		.select2-choice.select2-default .select2-chosen,
		.select2-default {
			// Select2's css has color as important
			color: #4C5051 !important;
			font-size: 16px;
		}
	}
}

/*** Home Atlas ***/
body.must-see-full-screen {
	.content-sidebar-wrap {
		max-width: 100%;
		padding: 0;
	}
	#equity-content {
		padding: 0;
	}
	.site-inner {
		padding: 0;
	}
}

.IDX-wrapper-standard.IDX-category-results {
	font-family: $body-font-family;
	.IDX-topActions {
		background-color: #F5F5F5;
		font-size: 0;
		> * {
			font-size: 16px;
			border-right: none;
		}
		a:hover {
			text-decoration: none;
		}
	}
	.IDX-results-refine-search-wrap .IDX-control-group {
		.select2-container {
			background: #fff;
			&.select2-container-multi .select2-search-field {
				height: 43px;
				.select2-input {
					line-height: 43px;
					height: 43px;
				}
			}
		}
	}
	.IDX-results-refinement .IDX-refine-search--toggle::after {
		margin-left: 4px;	
	}
	#IDX-resultsContent {
		padding: 0 15px;
	}
	.IDX-results-title {
		font-size: 36px;
		margin-bottom: 5px;
	}
	.IDX-results-title--count {
		font-size: 18px;
		font-weight: 400;
		color: #4D4D4D;
		letter-spacing: .1px;
		margin-bottom: 25px;
	}
	#IDX-resultsSeparatorTextActive {
		font-size: 28px;
		font-weight: 400;
		letter-spacing: .1px;
	}
	.IDX-results--cell .IDX-results--cell-inner-wrapper {
		background: none;
		border: none;
		border-bottom: 10px solid transparent;
	}
	@media only screen and (max-width: 1280px) and (min-width: 641px) {
		.IDX-pagination > li > a, .IDX-pagination > li > span {
			padding: 6px 10px;
		}
	}
	@media only screen and (min-width: 1280px) , only screen and (min-width: 641px) and (max-width: 991px) {
		.IDX-results--cell:nth-child(even) .IDX-results--cell-inner-wrapper {
			border-left: 10px solid transparent;
		}
		.IDX-results--cell:nth-child(odd) .IDX-results--cell-inner-wrapper {
			border-right: 10px solid transparent;
		}
	}
	@media only screen and (max-width: 640px) {
		#IDX-resultsTopActions {
			margin-bottom: 25px;
		}
	}
	.select2-results .select2-highlighted {
		background: $temp-blue;
	}
	.select2-container.select2-container-active .select2-choice {
		border-color: #E6E6E6;
		background: #fff;
	}
}