.nav-header-right {
	// display: none;
	position: absolute;
	width: 100%;
	padding: 50px 0;
	margin: 0;
	top: 100%;
	left: 0;
	background: rgba(255, 255, 255, .9);
}
a.menu-toggle {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 38px;
	color: $blue-text;
	font-size: 50px;
	line-height: 100px;
}
body.sticky .menu-toggle {
	top: 0.7rem;
}
.nav-header-right > ul {
	position: relative;
	margin: 0;
}
.nav-header-right li {
	display: inline-block;
	width: 235px;
	list-style-type: none;
	overflow: hidden;
	text-overflow: ellipsis;
	a {
		display: inline;
		white-space: nowrap;
	}
}

.nav-header-right li ul {
	margin: 0;
}

.nav-header-right li li {
	margin-left: 0;
}
.nav-header-right .menu-item,
.nav-header-right .sub-menu,
.nav-header-right .sub-menu a {
	color: $blue-text;
	display: block;
	text-align: left;
	list-style-type: none;
}
.nav-header-right .sub-menu {
	position: absolute;
	top: 0px;
	left: 235px;
}

.nav-header-right .sub-menu a {
	color: $body-font-color;
}

.nav-header-right .sub-menu li:last-child a {
	border-bottom: none;
}

.nav-header-right .menu-item a:focus,
.nav-header-right .menu-item a:hover,
.nav-header-right .sub-menu a:focus,
.nav-header-right .sub-menu a:hover {
	color: $body-font-color;
}

.nav-header-right .menu-item:focus,
.nav-header-right .menu-item:hover {
}

.nav-header-right a {
	color: $blue-text;
	display: block;
	font-family: $body-font-family;
	font-size: rem-calc(18);
	font-weight: $paragraph-font-weight;
	line-height: 33px;
}

.nav-header-right a:focus,
.nav-header-right a:hover,
.nav-header-right .current-menu-item > a {
	color: $body-font-color;
}
.nav-header-right ul > li.menu-item-has-children > a:after {
	display: inline-block;
	color: $blue-text;
	content: "\f105";
	font-family: 'FontAwesome';
	font-weight: normal;
	width: 8px;
	height: 8px;
	margin-left: 15px;
}
.nav-header-right ul > li.menu-item-has-children > a:hover:after {
}

.nav-header-right .sub-menu .sub-menu:before {
	display: none;
}

.nav-header-right ul > .menu-item > .sub-menu {
	display: none;
}

.nav-header-right ul > .menu-item:hover > .sub-menu,
.nav-header-right ul > .menu-item:focus > .sub-menu {
	display: block;
	height: 100%;
}

.nav-header-right ul > .menu-item > .sub-menu > .menu-item:first-child {
}

.nav-header-right .sub-menu a {
}

.nav-header-right ul > .menu-item > .sub-menu > .menu-item:last-child {
	border-radius: 0 0 3px 3px;
}

.nav-header-right ul > .menu-item .sub-menu > .menu-item:last-child {
}

body.sticky .sticky-header .nav-header-right ul > li a {
}
body.sticky .sticky-header .nav-header-right ul > li.menu-item-has-children > a:after {
	top: 1.1rem;
}

@media #{$medium-up} {
	
}
@media #{$large-up} {

}

.social-icons-header {
	display: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}