/*! =Entry Content
------------------------------------------------------------------------- */
.content {
	> article {
		margin: 0 0 2rem;
	}
	article .entry-header {
		margin: 0 0 1.825rem;
	}
	article h1.entry-title {
		line-height: 30px;
		margin: 0 0 0.5rem;
		font-size: rem-calc(32);
		&::after {
			content: "";
			display: block;
			width: 85px;
			height: 3px;
			margin: 20px 0;
			border-radius: 5px;
		}
	}
	figure {
		margin: 0;
	}
	img {
		border: 1px solid #efefef;
	}
}

body.single-post {
	color: $inner-page-font-color;
	.site-container, 
	.site-inner,
	.content-sidebar-wrap {
		background: $inner-page-bg;
	}
	.site-inner {
		box-shadow: none;
	}
	.content-sidebar-wrap {
		padding-top: 45px;
	}
	article {
		h2 {
			margin-top: 50px;
			font-size: rem-calc(26);
		}
		p {
			font-size: rem-calc(16);
		}
		blockquote {
			border-left: 0;
			margin-left: 30px;
		}
		a {
			text-decoration: underline;
		}
	}
}

body:not(.home) .contact-us {
	display: none;
}

.first-impression-featured-image {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%; // For backwards compatibility
	width: calc(100% - 60px);
	padding-bottom: 50%;
	margin: 0 30px;
	margin-bottom: 55px;
	overflow: hidden;
	@media #{$medium-up} {
	}
	img {
        position: absolute;
        // Browser compatible version of object-cover
        top: -9999px;
        right: -9999px;
        bottom: -9999px;
        left: -9999px;
        margin: auto;
        min-width: 100%;
        min-height: 100%;
        // Removes all inline width/height stylings
        width: auto;
        height: auto;
		max-width: none;
		max-height: none;
	}
}

/*! =Post Info/Post Meta
------------------------------------------------------------------------- */
footer .entry-meta {
	padding: 8px;
	margin: 0;
	span {
		display: inline-block;
		margin-right: 10px;
	}
}

/*! =After Entry Widget Area
------------------------------------------------------------------------- */
body.fl-builder .post-edit-link {
	display: none;
}

/*! =Author Box
------------------------------------------------------------------------- */
.author-box {
	overflow: hidden;
	padding: 1.5rem;
	background: #fff;
	.gravatar {
		float: left;
		margin: 0 1rem 1rem 0;
	}
}


/*! =Pagination/Post Navigation (most formatting included in foundation.css)
------------------------------------------------------------------------- */
.pagination {
	font-size: rem-calc(14);
	margin: 0.875rem 0;
}

/*! =Comments
------------------------------------------------------------------------- */
#comments h3 {
	margin-bottom: 20px;
}