/*! =Sidebar
------------------------------------------------------------------------- */
.sidebar-primary .widget {
	margin: 0 0 2rem;
}
.sidebar-primary,
.sidebar-primary p,
.sidebar-primary label,
.sidebar-primary ul,
.sidebar-primary ol,
.sidebar-primary dl {
	color: $body-font-color;
	font-size: rem-calc(14);
}
.sidebar-primary h4.widget-title {
	color: $blue-text;
	padding: 0 0 0.5rem;
	margin: 0 0 1.825rem;
	font-size: rem-calc(18);
	letter-spacing: 0;
	line-height: 1;
}

/** New Stuff **/
.sidebar {
	.widget+.widget {
		margin-top: 80px;
	}
}