/*! Flexible Widgets
--------------------------------------------- */
.flexible-widgets.widget-fourths .widget,
.flexible-widgets.widget-halves .widget,
.flexible-widgets.widget-thirds .widget {
    float: none;
    width: 100%;
}

.flexible-widgets .widget {
    padding-left: 0;
    padding-right: 0;
}

@media #{$medium-up} {
	.flexible-widgets.widget-area:not(.widget-full) .widget {
	    float: left;
	    padding-left: rem-calc(30);
	    padding-right: rem-calc(30);
	    margin-bottom: 0;
	}

	.flexible-widgets.widget-fourths .widget {
	    width: 25%;
	}

	.flexible-widgets.widget-halves .widget {
	    width: 50%;
	}

	.flexible-widgets.widget-thirds .widget {
	    width: 33.33%;
	}

	.flexible-widgets.widget-halves .widget:nth-child(odd),
	.flexible-widgets.widget-thirds .widget:nth-child(3n+1),
	.flexible-widgets.widget-fourths .widget:nth-child(4n+1) {
	    clear: left;
	}
}

/*! =Custom Menu with Icon and Description
------------------------------------------------------------------------- */
.widget_nav_menu_desc ul {
	list-style-type: none;
	margin: 0;
}
.widget_nav_menu_desc ul li {
	list-style-type: none;
	line-height: 1;
	margin: 0 0 1.25rem;
}
.widget_nav_menu_desc ul li::before {
	content: "";
}
.widget_nav_menu_desc i {
	font-size: rem-calc(24);
	vertical-align: top;
	margin: 0 0.5rem 0.5rem 0;
}
.widget_nav_menu_desc .link-text {
	font-size: rem-calc(20);
	display: inline-block;
}
.widget_nav_menu_desc .link-text .link-title {
	display: block;
	margin: 0 0 0.325rem;
}
.widget_nav_menu_desc .link-text p.description {
	font-size: rem-calc(14);
	margin: 0;
}

/*! =Featured Post Carousel
------------------------------------------------------------------------- */
section.equity-post-carousel article {
	margin-bottom: 0;
}
section.equity-post-carousel article .entry-header,
section.equity-post-carousel article .entry-content {
	margin-bottom: 0;
	display: block;
	width: 100%;
	position: relative;
	color: $body-font-color;
}
.equity-post-carousel h2.entry-title {
	font-size: rem-calc(22);
	color: $secondary-color;
}
.equity-post-carousel img {
	border: 1px solid #cacaca;
}
.equity-post-carousel .owl-item .page-wrap {
	margin: 0 10px;
	position: relative;
}
.equity-post-carousel .owl-nav {
	text-align: center;
	margin-top: 10px;
}
.equity-post-carousel .owl-nav i {
	font-size: 24px;
	display: block;
}
.equity-post-carousel .owl-nav span {
	text-transform: uppercase;
	font-size: 12px;
}
.equity-post-carousel .owl-carousel .owl-nav button.owl-prev,
.equity-post-carousel .owl-carousel .owl-nav button.owl-next {
	background: $primary-color;
	color: $body-font-color;
	padding: 10px;
	border-radius: 45px;
	width: 45px;
	height: 45px;
	display: inline-block;
	margin: 10px;
}
.equity-post-carousel .owl-dots,
.equity-post-carousel .owl-nav span {
	display: none;
}


/*! =Listing Search (WP Listings)
------------------------------------------------------------------------- */
.wp-listings-search button {
	margin: auto;
	display: block;
}
.wp-listings-search button i {
	font-size: rem-calc(24);
	margin-right: 8px;
}


/*! =Listing Scroller (WP Listings)
------------------------------------------------------------------------- */
.listings-scroller .owl-item .listing {
	margin: 0 10px;
}
.listings-scroller img {
	border: 1px solid #cacaca;
}
.listings-scroller .owl-controls {
	text-align: center;
	margin-top: 10px;
}
.listings-scroller .owl-controls i {
	font-size: 24px;
	display: block;
}
.listings-scroller .owl-controls span {
	text-transform: uppercase;
	font-size: 12px;
}
.listings-scroller .owl-controls .owl-prev,
.listings-scroller .owl-controls .owl-next {
	background: #f3f3f3;
	color: #9a9a9a;
	padding: 10px;
	border-radius: 45px;
	width: 45px;
	height: 45px;
	display: inline-block;
	margin: 10px;
}
.listings-scroller .owl-controls span {
	display: none;
}

@media #{$large-up} {
	.equity-idx-carousel .property-details span.price,
	.impress-carousel .property-details span.price {
		font-size: rem-calc(24);
		text-align: left;
		float: left;
	}
}

.impress-carousel-widget .property-details {
	color: $dark-text;
}

/*! =Featured Listing Widget + Listings Scroller Widget
------------------------------------------------------------ */
.widget .listing-wrap {
	margin: 0 0 25px;
	width: 100%;
	text-align: left;
}

.widget .listing-widget-thumb {
	position: relative;
	overflow: hidden;
	line-height: 0px;
}

.widget .listing-widget-thumb img {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	border: none;
}

.widget .listing-widget-thumb a {
	padding: 0;
	border: none;
	text-decoration: none;
}

.widget .listing-widget-thumb a img {
	max-width: 100%;
	max-height: none;
}

.widget .listing-wrap span.listing-status,
.widget .listing-wrap .listing-thumb-meta {
	position: absolute;
}

.widget .listing-wrap span.listing-status {
	width: 130px;
	padding: 5px;
	top: 20px;
	right: -28px;
	font-size: 12px;
	line-height: 18px;
	-moz-transform: scale(1) rotate(45deg) translate(0px);
	-webkit-transform: scale(1) rotate(45deg) translate(0px);
	-o-transform: scale(1) rotate(45deg) translate(0px);
	transform: scale(1) rotate(45deg) translate(0px);
}

.widget .listing-wrap .listing-thumb-meta {
	left: 0;
	bottom: 0;
	width: 100%;
}

.widget .listing-wrap .listing-thumb-meta span {
	color: $primary-color;
	font-family: $header-font-family;
	font-size: rem-calc(24);
	top: 0;
	left: 0;
	padding: 12px 10px;
	background: #fff;
	background: rgba(255,255,255,0.80);
	line-height: 1;
	display: table;
}

.widget .listing-wrap .listing-thumb-meta span.listing-property-type {
	display: none;
}

.widget .listing-wrap span.listing-open-house {
	display: block;
	padding: 5px 10px;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	background: #be1d2c;
}

.widget .listing-widget-details p.listing-address {
	line-height: 1.4;
	margin-bottom: 0;
}

.widget .listing-widget-details .listing-beds-baths-sqft {
	width: 100%;
	padding: 0;
	margin: 10px 0 0;
	font-size: rem-calc(14);
}

.widget .listing-widget-details .listing-beds-baths-sqft li {
	list-style-type: none;
	display: inline-block;
}

.widget .listing-widget-details .listing-beds-baths-sqft li span {
	display: inline-block;
	margin-left: 5px;
}

.widget .listing-wrap .more-link {
	display: none;
}


/*! =Listing overlays (for WP Listings - Featured Listing widget)
------------------------------------------------------------ */

.widget .listing-wrap span.listing-status {
	color: #fff;
	background: #53c331;
	background: rgba(83, 195, 49, 0.80);
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.widget .listing-wrap span.listing-status.active {
	background: #53c331;
	background: rgba(83, 195, 49, 0.80);
}
.widget .listing-wrap span.listing-status.sold {
	background: #be1d2c;
	background: rgba(190, 29, 44, 0.80);
}
.widget .listing-wrap span.listing-status.pending {
	background: #db8323;
	background: rgba(219, 131, 35, 0.80);
}
.widget .listing-wrap span.listing-status.new,
.widget .listing-wrap span.listing-status.reduced,
.widget .listing-wrap span.listing-status.for-rent {
	background: #24a4ea;
	background: rgba(36, 164, 234, 0.80);
}


/*! =Column classes (for WP Listings - Featured Listing widget only)
------------------------------------------------------------ */

.widget .listing.one-half,
.widget .listing.one-third,
.widget .listing.one-fourth,
.widget .listing.one-fifth,
.widget .listing.one-sixth {
	float: left;
	margin: 0 0 15px 2.564102564102564%;
	padding: 0;
}

.widget .listing.one-half {
	width: 48.717948717948715%;
}

.widget .listing.one-third {
	width: 31.623931623931625%;
}

.widget .listing.one-fourth {
	width: 23.076923076923077%;
}

.widget .listing.one-fifth {
	width: 17.948717948717948%;
}

.widget .listing.one-sixth {
	width: 14.52991452991453%;
}

.widget .listing.first {
	clear: both;
	margin-left: 0;
}


/*! =Property Showcase
------------------------------------------------------------------------- */
.widget, .shortcode {
	// The first row only has this class
	&.impress-showcase-widget {
		.widgettitle {
			font-size: rem-calc(24);
		}
		.columns {
			padding: 0;
		}
		.row, .impress-row {
			width: auto;
			max-width: none;
			margin-left: 0;
			margin-right: 0;
			> .columns {
				padding-right: 1.6666rem; 
			}
		}
	}
	.impress-showcase-property-list a {
		display: block;
		background-color: #ffffff;
		* {
			background-color: transparent;
		}
	}
	.impress-showcase-property, .impress-showcase-property-list {
		list-style: none;
		* {
			background-color: #F9F9F9;
		}
		* {
			text-align: center;
		}
		a {
			text-decoration: none;
		}
		.impress-showcase-photo {
			margin-bottom: 0;
			padding-bottom: 30px;
			img {
				border: 1px solid #F9F9F9;
			}
		}
		.impress-price {
			font-family: $header-font-family;
			font-size: rem-calc(28px);
			@media only screen and (max-width: 64em) {
				font-size: rem-calc(18px);
			}
			font-weight: bold;
			margin-top: 30px;
		}
		.impress-address {
			font-size: rem-calc(18px);
			@media only screen and (max-width: 64em) {
				font-size: rem-calc(15px);
			}
			font-weight: bold;
			color: #4D4D4D;
			margin-bottom: 0;
			padding-bottom: 30px;
		}
		.impress-beds-baths-sqft {
			font-size: rem-calc(18px);
			@media only screen and (max-width: 64em) {
				font-size: rem-calc(15px);
			}
			color: #000;
			padding-bottom: 30px;
		}
		.sqft:before {
			content: "\A";
			white-space: pre;
		}
	}
}

body.single-post {
	.widget, .shortcode {
		.impress-showcase-property {
			* {
				background-color: #fff;
			}
		}
	}
}

/*! =Impress city Links
------------------------------------------------------------ */
.impress-city-links-widget {
	.widget-title {
		font-size: rem-calc(24);
	}
}
div.impress-city-links {
	.impress-city-list-links {
		width: auto;
	}
	ul {
		font-size: rem-calc(16);
		max-width: 250px;
		&.impress-columns:last-child {
			float: left;
		}
		li {
			margin-bottom: 10px;
			a {
				display: flex;			
				align-items: center;
				line-height: 20px;
				text-decoration: none;
			}
			.count {
				font-size: rem-calc(16);
				font-weight: normal;
				margin-left: auto;
				background-color: #747474;
				line-height: inherit;
				border-radius: 3px;
			}
		}
	}	
}

div[class*='home-middle-'].bg-gradient, footer.site-footer .footer-widgets {
	.impress-city-links-widget {
		.impress-city-links {
			ul {
				li {
					.count {
						background-color: #fff;
						color: #000;
					}
				}
			}	
		}
	}
}

/*! =Responsive (for WP Listings - Featured Listing widget only)
------------------------------------------------------------ */
@media (max-width: 767px) {
	.widget .listing.one-half,
	.widget .listing.one-third,
	.widget .listing.one-fourth,
	.widget .listing.one-fifth,
	.widget .listing.one-sixth {
		float: none;
		width: 100%;
		padding: 0;
		margin: 0 0 20px;
	}
}

/*! =Quick search
------------------------------------------------------------------------- */
.equity-idx-search-widget {
	overflow: hidden;
}

.equity-idx-search-widget .horizontal > .columns.large-9 {
	padding: 0;
}

.equity-idx-search-widget .equity-qs-price-min,
.equity-idx-search-widget .equity-qs-price-max,
.equity-idx-search-widget .vertical .equity-qs-beds,
.equity-idx-search-widget .vertical .equity-qs-baths {
	width: 45%;
	float: left;
}

.equity-idx-search-widget .equity-qs-price-max,
.equity-idx-search-widget .vertical .equity-qs-baths {
	float: right;
}

.equity-idx-search-widget .equity-qs-price {
	display: inline-block;
	text-align: center;
	line-height: 2;
}

.equity-idx-search-widget .equity-qs-links {
	font-family: $header-font-family;
	font-size: rem-calc(12);
	text-transform: uppercase;
	letter-spacing: .02px;
}

.equity-idx-search-widget .equity-qs-links .advanced-search,
.equity-idx-search-widget .equity-qs-links .map-search,
.equity-idx-search-widget .vertical .advanced-search,
.equity-idx-search-widget .vertical .map-search {
	display: block;
	float: left;
}

.equity-idx-search-widget .equity-qs-links .map-search,
.equity-idx-search-widget .vertical .map-search {
	float: right;
}

.equity-idx-search-widget .equity-qs-submit-button {
	display: block;
}

.equity-idx-search-widget .vertical .equity-qs-submit-button {
	clear: both;
}

.equity-idx-search-widget .equity-qs-submit-button .fa {
	margin: 0 5px 0 0;
}

.equity-idx-search-widget {
	button {
		.fa-search {
			display: none;
		}
	}
}

div[class*='home-middle-'].bg-gradient, footer.site-footer .footer-widgets {
	.impress-idx-signup-widget, .equity-idx-search-widget {
		button {
			&:hover, &:active {
				background: #eee;
			}
		}
	}
}

/*! =Property Showcase
------------------------------------------------------------------------- */
.showcase-property,
.showcase-property p {
	text-align: center;
	font-size: 14px;
}
.showcase-property p.disclaimer {
	margin-bottom: 1rem;
	font-size: 11px;
}
.showcase-property .showcase-photo {
	position: relative;
	display: block;
	margin-bottom: 0.4rem;
}
.showcase-property img {
	border: 1px solid #ccc;
}
.showcase-property p.disclaimer img {
	border: none;
}
.showcase-property span.price {
	font-size: 18px;
	display: block;
}
.showcase-property span.street {
	display: block;
}
.showcase-property span.status {
	display: none;
}
.showcase-property .address {
	margin-bottom: 5px;
}
.showcase-property .beds-baths-sqft {
	margin-bottom: 0.4rem;
}
.showcase-property .beds-baths-sqft span {
	margin: 0 5px;
}
.showcase-property .disclaimer p {
	font-size: 10px;
	margin: 0;
}
.showcase-property .disclaimer p img {
	border: none;
}

/*! =IMPress Omnibar
------------------------------------------------------------------------- */
form.idx-omnibar-form {
	position: relative;
	padding: 0;
}
form.idx-omnibar-form::after {
	content: "";
	display: table;
	clear: both;
}
.widget form.idx-omnibar-form input {
}
form.idx-omnibar-form input {
	margin: 0;
}
form.idx-omnibar-form label {
	color: $body-font-color;
}
form.idx-omnibar-form .awesomplete {
	width: 100%;
}
form.idx-omnibar-form button,
form.idx-omnibar-form.idx-omnibar-extra-form button {
	width: auto;
	padding: 0.55rem 0.7rem;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	font-size: $paragraph-font-size;
}
form.idx-omnibar-form button span {
	display: none;
}

.widget form.idx-omnibar-form,
form.idx-omnibar-form{
	margin: 35px 0;
	.awesomplete {
		line-height: 50px;
	}
	input[type="text"].idx-omnibar-input {
		border-radius: 5px;
		height: 50px;
	}
	button[type="submit"] {
		color: #000;
		height: 46px;
		padding: 0 18px;
		margin-top: 2px;
		margin-right: 2px;
		border: none;
		border-radius: 0 5px 5px 0;
		background: #fff;
		background: linear-gradient(to left, #fff 38px, transparent);
	}
	label {
		display: none;
	}
	.idx-omnibar-extra {
		input {
			border-radius: 5px;
		}
	}
	.idx-omnibar-price-container {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	h4 {
		display: none;
	}
}

/*! =IMPress Lead Signup
------------------------------------------------------------------------- */
.impress-lead-signup button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.widget, .impress-lead-login, .impress-lead-signup {
	select, input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
		font-family: $header-font-family;
		background: #fff;
		box-shadow: none;
		border: 2px solid #e6e6e6;
		border-radius: 5px;
		font-size: rem-calc(16);
		height: 45.5px;
		font-weight: 400;
		margin-bottom: 30px;
		transition: .3s;
		&:focus {
			background-color: #fff;
		}
	}	
}

.impress-lead-login, .impress-lead-signup {
	margin: 35px 0;
}

.impress-idx-signup-widget {
	> p {
		padding-bottom: 20px;
	}
	label {
		display: none;
	}
	button {
		width: 100%;
		font-weight: 400;
		text-transform: uppercase;
		font-size: rem-calc(18);
		letter-spacing: .02px;
		line-height: 44.5px;
		padding: 0;
		background: #fff;
		border-radius: 5px;
	}
}
/*! =Default Widgets 
------------------------------------------------------------------------- */
.widget.widget_calendar .widgettitle {
	font-size: rem-calc(24);
	padding: 15px 0;
}
table#wp-calendar {
	max-width: 425px;
	caption, thead {
		line-height: 50px;
		height: 50px;
		border: 1px solid;
		@media #{$small-only} {
			line-height: 30px;
			height: 30px;
		}
	}
	tbody tr {
		background-color: #F9F9F9;
		td {
			padding: 20px;
			@media #{$medium-only} {
				padding: 12px;
			}
			@media #{$small-only} {
				padding: 5px;
			}
		}
	}
	tfoot tr {
		background-color: #EEEEEE;
		td a {
			font-size: rem-calc(16);
		}
	}
}

.sidebar .widget_nav_menu .label {
	background: none;
}


/*! =Property Carousel 
------------------------------------------------------------------------- */
.impress-carousel-widget .carousel-photo {
	margin-bottom: 20px;
}

div.impress-carousel .owl-nav.owl-controls button.owl-prev,
div.impress-carousel .owl-nav.owl-controls button.owl-next {
	background-color: #fff;
	&:hover {
		background-color: rgba(0,0,0,.05);
	}
}

div[class*='home-middle-'].bg-gradient div.impress-carousel .owl-nav.owl-controls button.owl-prev,
div[class*='home-middle-'].bg-gradient div.impress-carousel .owl-nav.owl-controls button.owl-next,
footer.site-footer div.impress-carousel .owl-nav.owl-controls button.owl-prev,
footer.site-footer div.impress-carousel .owl-nav.owl-controls button.owl-next {
	background-color: inherit;
	border-color: #fff;
	color: #fff;
	&:hover {
		background-color: rgba(255,255,255,.05);
	}
}

.sidebar, .single {
	.impress-carousel {
		background: #fff;
		margin: 35px 0;
		padding: 15px 0;
		.carousel-photo {
			height: 235px;
		}
		a {
			color: #000;
			font-size: 1rem;
			text-decoration: none;
		}
		.property-details {
			font-size: rem-calc(18);
			.address, .city-state {
				font-weight: bold;
			}
		}
		h3.price {
			font-size: rem-calc(28);
		}
		.carousel-photo {
			height: 235px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.owl-controls span {
			font-size: rem-calc(20);
			position: absolute;
			left: 0;
			right: 0;
			bottom: -35px;
			display: block;
		}
		.owl-nav.owl-controls button {
			margin-top: 20px;
		}
		.owl-prev, .owl-next {
			span {
				display: none;
			}
		}
	}
}

.sidebar {
	.impress-carousel {
		.owl-nav.owl-controls button.owl-prev {
			float: left;
			margin-left: 30px;
		}
		.owl-nav.owl-controls button.owl-next {
			float: right;
			margin-right: 30px;
		}
	}
}

div[class*='home-middle-'].bg-gradient, footer.site-footer .footer-widgets {
	.impress-idx-signup-widget, .equity-idx-search-widget {
		button {
			&:hover, &:active {
				background: #eee;
			}
		}
	}
}

div.impress-carousel .owl-nav.owl-controls button.owl-prev,
div.impress-carousel .owl-nav.owl-controls button.owl-next {
	height: 60px;
	width: 60px;
	border: 2px solid;
}
div.impress-carousel .owl-nav.owl-controls button.owl-prev {
	margin: 40px 24px;
	margin-left: 0;

}
div.impress-carousel .owl-nav.owl-controls button.owl-next {
	margin: 40px 24px;
	margin-right: 0;
}

// Make the chevrons look centered
div.impress-carousel .owl-nav.owl-controls button.owl-prev i {
	padding-right: 2px;
}
div.impress-carousel .owl-nav.owl-controls button.owl-next i {
	padding-left: 2px;
}

div.impress-carousel {
	 .carousel-property {
		width: 235px;
		margin: 0 auto;
	}

	.carousel-photo {
		position: relative;
		width: 235px;
		height: 235px;
		border-radius: 100%;
		overflow: hidden;
		img {
			position: relative;
			height: 100%;
			object-fit: cover; // No IE support, but the fallback looks decent enough
		}
	}

	.beds-baths span+span {
		margin-left: 10px;
	}
}

/*! =Easy Testimonials
------------------------------------------------------------------------- */
.singleTestimonialWidget, .listTestimonialsWidget {
	margin: 0 auto;
	max-width: 900px;
}
div.easy_testimonial_image_wrapper {
	img.wp-post-image {
		margin-right: 55px;
	}
}
.easy_testimonial {
	text-align: center;
	@media #{$medium-up} {
		text-align: left;
	}
	.testimonial_body p {
		@media #{$medium-up} {
			margin-left: 200px;
		}
		color: $dark-text;
	}
	.testimonial_author {
		@media #{$medium-up} {
			margin-left: 200px;
		}
		cite {
			&::before {
				padding-right: 5px;
			}
			span:first-child {
				display: inline;
			}
		}
	}
	div.easy_testimonial_image_wrapper {
		img.wp-post-image {
			float: none;
			@media #{$medium-up} {
				float: left;
			}
			width: 150px;
			height: 150px;
			border-radius: 100%;
		}
	}
}

/*! =IDX Map
------------------------------------------------------------------------- */
.IDX-mapWidgetWrap {
	position: relative;
	.IDX-mapHeader {
		position: absolute;
		top: 0;
		z-index: 1;
	}
	.IDX-mapCount {
		font-family: $header-font-family;
		font-weight: 400;
		font-size: 1.1rem;
		color: #4C5051;
		// Need to !importan to override generated ID specificity
		float: right !important;
		padding-right: 25px;
		padding-top: 5px;
	}
	.IDX-mapTab {
		// Need to !importan to override generated ID specificity
		float: left !important;
		border-radius: 0px;
		border: none;
		border-bottom-right-radius: 5px;
		box-shadow: 1px 1px 3px #666;
	}
	.leaflet-control-zoom {
		// Need to !importan to override generated ID specificity
		margin-top: 50px !important;
	}
}


/*! =IDX Featured Agent
------------------------------------------------------------------------- */
.IDX-featuredAgentWrap {
	a {
		#IDX-featAgentImg {
			display: block;
			width: auto;
			margin: 0 auto;
		}
	}
	#IDX-featuredAgentCaption {
		text-shadow: none;
	}
}